html {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background: url("../images/pattern-hills.svg") no-repeat bottom/contain, url("../images/bg-stars.svg") no-repeat top center/cover;
  background-color: hsl(235, 16%, 14%);
  height: 100vh;
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
body main {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main h1 {
  color: hsl(0, 0%, 100%);
  word-spacing: 0.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  font-size: 0.99rem;
}
body main .timer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 15px;
  margin-top: 10%;
}
body main .timer .timer-content {
  width: 25%;
}
body main .timer .timer-content .timer-wrapper {
  display: flex;
  flex-direction: column;
  height: 58px;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
}
body main .timer .timer-content .timer-wrapper .notch {
  background-color: hsl(234, 17%, 12%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 999;
}
body main .timer .timer-content .timer-wrapper .notch:nth-of-type(1) {
  left: -5px;
}
body main .timer .timer-content .timer-wrapper .notch:nth-of-type(2) {
  right: -5px;
}
body main .timer .timer-content .timer-wrapper .timer-card {
  height: 28.5px;
  overflow: hidden;
  position: relative;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(3) {
  opacity: 0.8;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(3) .timer-digit {
  border-radius: 5px 5px 0 0;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(3) .timer-digit span {
  margin-top: 9px;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(3) .timer-digit:nth-child(1) {
  transform-origin: bottom;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(4) .timer-digit {
  border-radius: 0 0 5px 5px;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(4) .timer-digit span {
  margin-top: -20px;
}
body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(4) .timer-digit:nth-child(2) {
  transform-origin: top;
  transform: rotateX(-90deg);
}
body main .timer .timer-content .timer-wrapper .timer-card .timer-digit {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: hsl(345, 95%, 68%);
  text-align: center;
  vertical-align: middle;
  font-size: 2.125rem;
  transition: all 0.3s ease-in-out;
  background-color: hsl(236, 21%, 26%);
  transform-origin: bottom;
}
body main .timer .timer-content .timer-wrapper .timer-card .timer-digit span {
  display: block;
}
body main .timer .timer-content .timer-title {
  color: hsl(237, 18%, 59%);
  font-size: 0.525rem;
  letter-spacing: 0.2rem;
  text-align: center;
  display: block;
  margin-top: 10px;
}
body footer .social-nav {
  margin-bottom: 50px;
}
body footer .social-nav ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
body footer .social-nav ul li {
  display: inline-block;
}
body footer .social-nav ul li a {
  text-decoration: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
body footer .social-nav ul li a:hover svg path {
  transition: all 0.2s ease;
  fill: hsl(345, 95%, 68%) !important;
}
body footer .social-nav ul li:nth-child(2) {
  margin: 0 35px;
}
body footer .attribution {
  font-size: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body main {
    margin-top: 5%;
  }
  body main h1 {
    font-size: 2rem;
  }
  body main .timer {
    width: 80%;
    margin: 10% auto 0;
  }
  body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(1) .timer-digit span {
    margin-top: 9px;
  }
  body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(1) .timer-digit:nth-child(1) {
    transform-origin: bottom;
  }
  body footer .attribution {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  body main h1 {
    font-size: 1.3rem;
  }
  body main .timer {
    width: 35%;
    margin: 5% auto 0;
  }
  body main .timer .timer-content .timer-wrapper {
    height: 90px;
  }
  body main .timer .timer-content .timer-wrapper .timer-card {
    height: 45.3px;
  }
  body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(3) .timer-digit span {
    margin-top: 14px;
  }
  body main .timer .timer-content .timer-wrapper .timer-card:nth-of-type(4) .timer-digit span {
    margin-top: -30px;
  }
  body main .timer .timer-content .timer-wrapper .timer-card .timer-digit {
    font-size: 3.125rem;
  }
  body main .timer .timer-content .timer-title {
    font-size: 0.825rem;
    letter-spacing: 0.3rem;
    margin-top: 20px;
  }
  body footer {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
