@import "variables";
html {
  font-size: $Font-size;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
  background: url("../images/pattern-hills.svg") no-repeat bottom / contain,
    url("../images/bg-stars.svg") no-repeat top center / cover;
  background-color: $Very-dark-blue;
  height: 100vh;
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  main {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      color: $White;
      word-spacing: 0.5rem;
      letter-spacing: 0.3rem;
      text-align: center;
      font-size: 0.99rem;
    }
    .timer {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 15px;
      margin-top: 10%;
      .timer-content {
        width: 25%;
        .timer-wrapper {
          display: flex;
          flex-direction: column;
          height: 58px;
          position: relative;
          justify-content: space-between;
          overflow: hidden;
          .notch {
            background-color: $Very-dark-mostly-blue;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 999;
            &:nth-of-type(1) {
              left: -5px;
            }
            &:nth-of-type(2) {
              right: -5px;
            }
          }
          .timer-card {
            height: 28.5px;
            overflow: hidden;
            position: relative;
            &:nth-of-type(3) {
              opacity: 0.8;
              .timer-digit {
                border-radius: 5px 5px 0 0;
                span {
                  margin-top: 9px;
                }
                &:nth-child(1) {
                  transform-origin: bottom;
                }
              }
            }
            &:nth-of-type(4) {
              .timer-digit {
                border-radius: 0 0 5px 5px;
                span {
                  margin-top: -20px;
                }
                &:nth-child(2) {
                  transform-origin: top;
                  transform: rotateX(-90deg);
                }
              }
            }
            .timer-digit {
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              color: $Soft-red;
              text-align: center;
              vertical-align: middle;
              font-size: 2.125rem;
              transition: all 0.3s ease-in-out;
              background-color: $Dark-desaturated-blue;
              transform-origin: bottom;
              span {
                display: block;
              }
            }
          }
        }
        .timer-title {
          color: $Grayish-blue;
          font-size: 0.525rem;
          letter-spacing: 0.2rem;
          text-align: center;
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
  footer {
    .social-nav {
      margin-bottom: 50px;
      ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
          display: inline-block;
          a {
            text-decoration: none;
            cursor: pointer;
            width: 25px;
            height: 25px;
            display: block;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: contain;
            &:hover {
              svg {
                path {
                  transition: all 0.2s ease;
                  fill: $Soft-red !important;
                }
              }
            }
          }

          &:nth-child(2) {
            margin: 0 35px;
          }
        }
      }
    }
    .attribution {
      font-size: 11px;
      text-align: center;
      display: flex;
      flex-direction: column;
      a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    main {
      margin-top: 5%;
      h1 {
        font-size: 2rem;
      }
      .timer {
        width: 80%;
        margin: 10% auto 0;
        .timer-content {
          .timer-wrapper {
            .timer-card {
              &:nth-of-type(1) {
                .timer-digit {
                  span {
                    margin-top: 9px;
                  }
                  &:nth-child(1) {
                    transform-origin: bottom;
                  }
                }
              }
            }
          }
        }
      }
    }
    footer {
      .attribution {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    main {
      h1 {
        font-size: 1.3rem;
        margin-top: 8%;
      }
      .timer {
        width: 35%;
        margin: 5% auto 0;
        .timer-content {
          .timer-wrapper {
            height: 90px;
            .timer-card {
              height: 45.3px;
              &:nth-of-type(3) {
                .timer-digit {
                  span {
                    margin-top: 14px;
                  }
                }
              }
              &:nth-of-type(4) {
                .timer-digit {
                  span {
                    margin-top: -30px;
                  }
                }
              }
              .timer-digit {
                font-size: 3.125rem;
              }
            }
          }
          .timer-title {
            font-size: 0.825rem;
            letter-spacing: 0.3rem;
            margin-top: 20px;
          }
        }
      }
    }
    footer {
      margin-bottom: 10px;
    }
  }
}
